/* 
  File Name: App.module.css
  Student Name: Peter Nguyen
  Student ID: 301495510
  Date: 2024-01-31
  Description: This file contains the styles for the portfolio website.
*/

@import "./vars.css";

body {
    margin: 0;
    padding: 0;
}

.App{
    background-color: var(--color-bg);
    width: 100%;
    height: 100%;

    color: seashell;
}

html, body {
    overflow-x: hidden;
}
