/* 
  File Name: vars.css
  Student Name: Peter Nguyen
  Student ID: 301495510
  Date: 2024-01-31
  Description: This file contains the default values for the portfolio website.
*/

:root{
    /*colours*/
    --color-text: #fff;
    --color-bg: #04152d;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;

    /*fonts*/
    --font-roboto: 'Roboto', sans-serif;
}